/* hr {
    border-top: 1px solid rgba(0, 0, 0, 1);
    width: 100%;
  } */

 .ai h1 {
  text-align:center;
 }

 .container-ph1 {
  margin-left: 220px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container-ph1 .row{
  margin-bottom: 20px;
}