.table-aa table {
border-collapse: collapse;
width: 100%;
}

.table-aa th,
.table-aa td {
text-align: left;
padding: 8px;
border: 1px solid #ddd; 
}

.table-aa tr:nth-child(even) {
background-color: #f2f2f2;
}

.table-aa th {
background-color: #1e90e1;
 color: white;
}

.table-aa .btn-update{
    background-color: #1e0af5;
    border-radius: 10px;
}

.table-aa .btn-delete{
    background-color: #ea0606;
    border-radius: 10px;
}